{% extends 'base.html'%} {% block content %}
    <div class="container">
      <div class="row">
        <div class="col-9">
          <h1 class="display-1 align-middle">CrappySports</h1>
          <h6 class="display-9 text-muted text-center">Sports Betting</h6>
        </div>
        
      </div>
      <div class="container">
        <div class="row">
          <div class="col-9">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="upcoming-tab" data-toggle="tab" href="#upcoming" role="tab" aria-controls="upcoming" aria-selected="true">Upcoming</a>
                    </li>
         <li class="nav-item">
           <a class="nav-link" id="nfl-tab" data-toggle="tab" href="#nfl" role="tab" aria-controls="nfl" aria-selected="false">NFL</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" id="mlb-tab" data-toggle="tab" href="#mlb" role="tab" aria-controls="mlb" aria-selected="false">MLB</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" id="mma-tab" data-toggle="tab" href="#mma" role="tab" aria-controls="mma" aria-selected="false">MMA</a>
         </li>
            </ul>


<div class="tab-content">
  <div class="tab-pane active" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab">
      <ul>
            {% for game in upcoming_response.data%}
              {% if game['sport_key'] == 'baseball_mlb' or game['sport_key'] == 'mma_mixed_martial_arts' or game['sport_key'] == 'americanfootball_nfl'%}
              <li>{{game['teams'][0]}} vs. {{game['teams'][1]}}</li>
              {%endif%}
            {% endfor %}
          </ul>
  </div>
    <div class="tab-pane" id="nfl" role="tabpanel" aria-labelledby="nfl-tab">
          <ul>
            {% for game in nfl_response.data%}
              <li>{{game['teams'][0]}} vs. {{game['teams'][1]}}</li>
            {% endfor %}
          </ul>
        </div>
      <div class="tab-pane" id="mlb" role="tabpanel" aria-labelledby="mlb-tab">
          <ul>
            {% for game in mlb_response.data%}
              <li>{{game['teams'][0]}} vs. {{game['teams'][1]}}</li>
            {% endfor %}
          </ul>
      </div>
    <div class="tab-pane" id="mma" role="tabpanel" aria-labelledby="mma-tab">
          <ul>
            {% for game in mma_response.data%}
              <li>{{game['teams'][0]}} vs. {{game['teams'][1]}}</li>
            {% endfor %}
          </ul>
    </div>
  </div>
</div>
        <div class="col-3">
          <h4 class="display-6">Sign In</h4>
          <!-- Change to wtform -->
          <form action="/sign_in" method="POST" id="sign_in_form">
      {{ form_sign_in.hidden_tag() }} {% for field in form_sign_in if field.widget.input_type !=
      'hidden'%} {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %} {{ field(placeholder=field.label.text, class="form-control")
      }} {% endfor %}

      <button class="btn btn-primary btn-block btn-lg">Sign In</button>
    </form>
          <!-- wtform -->
          <h4 class="display-6 mt-2">Sign Up</h4>
          <form action="/sign_up" method="POST" id="sign_up_form">
      {{ form_sign_up.hidden_tag() }} {% for field in form_sign_up if field.widget.input_type !=
      'hidden'%} {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %} {{ field(placeholder=field.label.text, class="form-control")
      }} {% endfor %}

      <button class="btn btn-primary btn-block btn-lg">Sign Up</button>
    </form>
        </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
